@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #000000;
}

section {
  min-height: 100vh;
  margin: auto;
}
p {
  color: #ffffff;
}
.navbar {
  margin: 15px;
  border-radius: 15px;
  background-color: #1e1e1e;
  color: #ffffff;

  .logo-title {
    text-decoration: none;
    color: #ffffff;
    font-size: 50px;
  }
  .navbar-logo {
    height: 50px;
    width: 50px;
  }
}

.footer {
  background-color: #1e1e1e;
  color: #c9d6df;
  .q-separator {
    background-color: #ffffff;
  }
  .links {
    font-size: 18px;
    color: #c9d6df;
    text-decoration: none;
  }
  .links:hover {
    color: #ffffff !important;
  }
}
